<h1>All Collections</h1>

<% Collection.where(shared: true).each do |collection| %>
  <table style="width:50%">
    <% SavedPhrase.where(collection_id: collection.id).each do |phrase| %>
      <tr>
        <td>
          <a href=""><%= phrase.phrase %></a>
        </td>
      </tr>
    <% end %>
  </table>

  <p>
    --------
  </p>
<% end %>