<!-- <h3>Edit Collection Title</h3>

<form method="POST" action='/users/<%= current_user.id %>/collection'>
  <input type="hidden" name="_method" value="PUT" />
  <div>
    <input type="text" placeholder="New Collection Title", name="title"/>
    <input type="submit" value="Edit title"/>
  </div>
</form> -->