<h1><%= @collection.title %></h1>
<% if current_user && (@collection.user_id == current_user.id)  %>
  <a href="/users/<%= current_user.id %>/collection/edit"><button type="submit">Edit Title</button></a>
<% end %>

<table style="width:50%">
  <% @phrases.each do |phrase| %>
    <tr>
      <td>
        <%= phrase.phrase %>
      </td>
      <td>
      <% if is_users_collection? %>
        <form method="POST" action='/delete'>
          <input type="hidden" name="_method" value="DELETE" />
          <div>
            <input type="hidden" value="<%= phrase.id %>" name="saved_phrase_id">
            <input type="submit" value="Delete Entry">
          </div>
        </form>
      <% end %>
      </td>
    </tr>
  <% end %>
</table>

<% if is_users_collection? %>
  <form method="post" action='/make_public'>
    <div>
      <% if @collection.shared %>
        <input type="submit" value="Make Private">
      <% else %>
        <input type="submit" value="Make Public">
      <% end %>
    </div>
  </form>
<% end %>

<% if is_users_collection? %>
  <form method="POST" action='/delete_all'>
    <input type="hidden" name="_method" value="DELETE" />
    <div>
      <input type="submit" value="Delete All">
    </div>
  </form>
<% end %>