<h1>Your Collection</h1>

<table style="width:50%">
  <% @phrases.each do |phrase| %>
    <tr>
      <td>
        <%= phrase.phrase %>
      </td>
      <td>
      <% if @is_users_collection %>
        <form method="post" action='/delete'>
          <div>
            <input type="hidden" value="<%= phrase.id %>" name="saved_phrase_id">
            <input type="submit" value="Delete Entry">
          </div>
        </form>
      <% end %>
      </td>
    </tr>
  <% end %>
</table>

<% if @is_users_collection %>
  <form method="post" action='/make_public'>
    <div>
      <input type="submit" value="Make Public">
    </div>
  </form>
<% end %>