<h1>Your Collection</h1>

<table style="width:50%">
  <% @phrases.each do |phrase| %>
    <tr>
      <td>
        <%= phrase.phrase %>
      </td>
      <td>
        <form method="post" action='/delete'>
          <div>
            <input type="hidden" value="<%= phrase.id %>" name="saved_phrase_id">
            <input type="submit" value="Delete Entry">
          </div>
        </form>
      </td>
    </tr>
  <% end %>
</table>