body {
  padding-top: 70px;
  background-image: url("/images/ice-bg.jpg")
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: 1140px;
}

.jumbotron {
  margin-bottom: 10px;
}

.container.main {
  position: relative;
  min-height: 675px;
}

.nav-logo {
  padding: 5px 10px 5px 30px;
}

.navbar-nav > li > a {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar-brand {
  line-height: 30px;
  height: 60px;
  font-size: 22px;
}

.generate {
  margin-top: 0.4em;
  height: 2.5em;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 3em;
}

.generate .btn-sm {
  margin-top: 0.1em;
  height: 1em;
  padding-left: 0.25em;
  padding-right: 0.25em;
  font-size: 1em;
}

.save-phrase {
  margin-bottom: 10px;
}

.delete-all {
  width: 25%;
}

.public-private {
  width: 25%
}