html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  padding-bottom: 168px;
}

footer {
  width: 79%;
  position: absolute;
  bottom: 0;
}

.generate {
  margin-top: 0.4em;
  height: 2.5em;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 3em;
}

.generate .btn-sm {
  margin-top: 0.1em;
  height: 1em;
  padding-left: 0.25em;
  padding-right: 0.25em;
  font-size: 1em;
}

.save-phrase {
  margin-right: 16px;
}

.delete-all {
  width: 25%;
}

.public-private {
  width: 25%
}