<h1>Home Page</h1>

<% if @user %>
  <p>
    Active User: <%= @user.name %>
  </p>
<% end %>

<% if @sentence %>
  <p>
    <%= @sentence %>
  </p>
<% end %>

<form method="post" action='/generate'>
  <div>
    <input type="submit" value="GENERATE!!!!!!!!">
  </div>
</form>

<form method="post" action='/save'>
  <div>
    <input type="submit" value="Save this phrase">
  </div>
</form>

<form method="post" action='/your_collection'>
  <div>
    <input type="submit" value="Your collection">
  </div>
</form>

<form method="post" action='/collections'>
  <div>
    <input type="submit" value="All Collections">
  </div>
</form>



