<% if current_user %>
  <p>
    Saved Phrases: <%= @phrase_count %>
  </p>
<% end %>

<% if @sentence %>
  <h1>
    <%= @sentence %>
  </h1>
<% end %>

<form method="post" action='/saved_phrase'>
  <div>
    <input class="generate btn btn-info" type="submit" value="GENERATE!!!!!!!!">
  </div>
</form>

<% if current_user %>
  <form method="post" action='/saved_phrases'>
    <div>
      <input class="btn btn-info" type="submit" value="Save this phrase">
    </div>
  </form>

  <% if @field_blank %>
    <p>
      You can't save when the field is blank! Shame on you :(
    </p>
  <% end %>

  <a href="/collection"><button type="submit" class="btn btn-info">Your Collection</button></a>

<% end %>

<a href="/collections"><button type="submit" class="btn btn-info">All Collections</button></a>

