<h1>Home Page</h1>

<% if current_user %>
  <p>
    Active User: <%= @current_user.name %>
  </p>
<% end %>

<p>
  Saved Phrases: <%= @phrase_count %>
</p>

<% if @sentence %>
  <p>
    <%= @sentence %>
  </p>
<% end %>

<form method="post" action='/generate'>
  <div>
    <input type="submit" value="GENERATE!!!!!!!!">
  </div>
</form>

<form method="post" action='/save'>
  <div>
    <input type="submit" value="Save this phrase">
  </div>
</form>

<% if @field_blank %>
  <p>
    You can't save when the field is blank! Shame on you :(
  </p>
<% end %>

<form method="post" action='/your_collection'>
  <div>
    <input type="submit" value="Your collection">
  </div>
</form>

<form method="post" action='/collections'>
  <div>
    <input type="submit" value="All Collections">
  </div>
</form>



