<div class="container">
  <div class="jumbotron text-center"> 
    <% if @sentence %>
      <h1>
        <%= @sentence %>
      </h1>
    <% end %>

    <form method="post" action='/saved_phrase'>
      <div>
        <input class="generate btn btn-success btn-sm-2" type="submit" value="MAKE ME SPORTER">
      </div>
    </form>
  </div>
  <% if current_user %>
    <div class="container">
      <form method="post" action='/saved_phrases'>
        <input class="save-phrase btn btn-info pull-right" type="submit" value="Save this phrase">
      </form>
      <p>
        Saved Phrases: <%= @phrase_count %>
      </p>
    </div>

    <% if @field_blank %>
      <p class="pull-right">
        You can't save when the field is blank! Shame on you :(
      </p>
    <% end %>

  <% end %>
</div>